{% extends 'layout.html' %}

{% block content %}

<div class="row">

    <div class="col-md-5">
        <form action="/new" method="POST" class="card bg-light text-dark">
            <div class="card-body p-4">
                    <div class="mb-3">
                        <label for="nombre">Escribe tu nombre:</label>
                        <input
                        type="text"
                        name="nombre"
                        class="form-control rounded-0 bg-light border-0 text-dark"
                        placeholder="Escribe tu nombre"
                        autofocus
                        />
                    </div>

                    <div class="mb-3">
                        <label for="apellido">Escribe tu apellido:</label>
                        <input
                        type="text"
                        name="apellido"
                        class="form-control rounded-0 bg-light border-0 text-dark"
                        placeholder="Escribe tu apellido"
                        autofocus
                        />
                    </div>

                    <div class="mb-3">
                        <label for="mail">Escribe tu mail:</label>
                        <input
                          type="text"
                          name="mail"
                          class="form-control rounded-0 bg-light border-0 text-dark"
                          placeholder="Escribe tu mail"
                          required
                        />
                      </div>

                      <div class="mb-3">
                        <label for="telefono">Escribe tu telefono:</label>
                        <input
                          type="text"
                          name="telefono"
                          class="form-control rounded-0 bg-light border-0 text-dark"
                          placeholder="+1123123123"
                        />
                      </div>

                      <div class="mb-3">
                        <label for="pais">Escribe tu pais:</label>
                        <input
                          type="text"
                          name="pais"
                          class="form-control rounded-0 bg-light border-0 text-dark"
                          placeholder="Argentina"
                        />
                      </div>
            
                <button>Save</button>
            </div>
        </form>
    </div>

    <div class="col-md-7">
        {% for contact in contacts %}
          <div class="card mb-1 bg-white text-black">
            <div class="card-body py-2 px-3">
              <div class="d-flex justify-content-between">
                <h5 class="card-title h6">{{contact.nombre}}{{ contact.apellido}}</h5>
                <div>
                  <a href="{{ url_for('contacts.update', id=contact.id) }}" class="btn btn-dark btn-sm rounded-0">Update</a>
                  <a href="{{ url_for('contacts.delete', id=contact.id) }}" class="btn btn-danger btn-sm rounded-0">Delete</a>
                </div>
              </div>
              <p class="card-text">{{ contact.mail }}</p>
              <p class="card-text">{{ contact.telefono }}</p>
              <p class="card-text">{{ contact.pais }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
      </div>

</div>

{% endblock %}